@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 5rem;
}
h4{
  
    font-size: 2rem;
}
h3{
    font-size: 3rem;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 15px;
    z-index: 1;
    transition: transform 0.3s ease;
}
.navbar.closed {
    transform: translateX(-240px); /* Menyembunyikan navbar saat ditutup */
}

body {
    background-color: #1E90FF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

object {
    position: fixed;
    top: -130px;
    right: 0px;
    width: calc(100% - 240px);
    height: 100%;
    z-index: -1;
}

.navbar img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 10px auto;
}

.us {
    margin-left: 260px;
  font-family: serif;
    font-style: normal;
    color: #ffff;
}

.us p {
    margin-top: 20px;
}

.kotak {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #F5F8FA;
    padding: 10px;
    top: 13vh;
    z-index: 0;
}

.kotak img {
    margin: 0 40px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.kotak img:hover {
    transform: scale(1.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}
.open-button {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
    color: #ffff;
}
.navbar ul img{
    width: 30px;
    height: 30px;

}

.navbar li {
    
    display: inline-block; /* Menampilkan li secara horizontal */
    margin-left: 0px; /* Memberi jarak antara li */
    align-items: center; /* Mengatur vertikal tengah */
    margin-bottom: 10px; /* Memberi jarak antara li */
    margin-right:3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar li img {
    margin-left: 3px; /* Memberi jarak antara gambar dan teks */
    width: 20px; /* Lebar gambar */
    height: 20px; /* Tinggi gambar */
}


/* Media queries untuk perangkat dengan lebar 768px atau lebih kecil */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        transform: translateX(-100%);
    }

    .us {
        margin-left: 0;
        text-align: center;
    }

    .kotak {
flex-wrap: wrap;
justify-content: space-evenly;
height: auto;
padding: 10px;
}

.kotak img {
margin: 10px;
width: 40%;
max-width: 200px;
} 
.open-button {
        left: 10px;
    }

}

   